body {
  font-family: 'Comfortaa', cursive;
  background-color: #F0F2F5;
}

.main-nav {
  background-image: linear-gradient(to right, #285A84 , #6B5C5C, #CE5F21);
}

.welcome-image {
  height: 65vh;
}

.welcome-image img {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}

.ast {
  color: #CE5F21 !important;
}

.profile-photo-upload figure img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid gainsboro; 
  opacity: 1;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
}

.profile-photo-upload figure:hover img {
  cursor: pointer;
  opacity: .5;
}

.profile-photo-upload input {
  display: none;
}

.profile-photo-modal figure img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid gainsboro; 
}

.profile-photo-show {
  max-width: 215px;
}

.profile-photo-show figure img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid gainsboro; 
}

.pet-photo-upload figure img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  opacity: 1;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
}

.pet-photo-upload figure:hover img {
  cursor: pointer;
  opacity: .5;
}

.pet-photo-upload input {
  display: none;
}



