body {
  font-family: 'Comfortaa', cursive;
  background-color: #F0F2F5;
}

.main-nav {
  background-image: linear-gradient(to right, #285A84 , #6B5C5C, #CE5F21);
}

.ast {
  color: #CE5F21 !important;
}

.profile-photo-upload figure img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border:2px solid gainsboro; 
  opacity: 1;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
}

.profile-photo-upload figure:hover img {
  cursor: pointer;
  opacity: .5;
}

.profile-photo-upload input {
  display: none;
}

.profile-photo-modal {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border:2px solid gainsboro; 
}

